extends layout
 
block content
  h1= title
 
 
  - let results = [{"SportsCar": 'Ferari',"Sportsperson": 'Salman',"sportsbike": 'Fazer'},{"SportsCar": 'BMW',"Sportsperson": 'Sharuk',"sportsbike": 'Bullet'},{"SportsCar": 'Audi',"Sportsperson": 'Amir',"sportsbike": 'Thuderstrome'}]
 
  div(class="container-fluid")
    div(class="row")
      each r, index in results
        div(class="col-sm-2" onclick=`buy(${index})`) #{r.SportsCar}, #{r.Sportsperson}, #{r.sportsbike}
 
  script.
    function buy(m)
    {
    alert(`your grade is ${m+1}`)
    }